.fondouwu{
    font-family: 'Poppins', sans-serif;
    background-color: #13141D;
    color: azure;
    background-size: cover;
    background-attachment: fixed;
    height: 900px;
    margin: 30px;
}
.fondouwu2{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom,#13141D,#5B5C5F);
    color: azure;
    background-size: cover;
    background-attachment: fixed;
    height: 900px;
    margin: 30px;
}
.titulos{
    text-align: center;
    color: antiquewhite;
    border-bottom: 6px solid rgb(66, 68, 94);
    margin-bottom: 20px; 
}
.divwaos{
    padding: 10px;
    background-color: #2b3444;
}
.botonowo{
    /*float: right;*/
    background-color: #0E0F1B;
    border: none;
    color: azure;
    padding: 10px 20px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.botonowo:hover{
    background-color: #2e4468;
}
.selectorewe{
    border-radius: 5px;
    background-color: #455369; /* Color de fondo */
    color: #bdbdbd;
    width: 15%;
    font-size: 16px;
}
.espacio-derecha {
    margin-right: 20px; /* Puedes ajustar el valor del margen según tus preferencias */
}
.estatus {
    margin-right: 20px; /* Puedes ajustar el valor del margen según tus preferencias */
    width: 60px;
}
.espacio-abajo {
    margin-bottom: 5px; /* Puedes ajustar el valor según la separación que desees */
}
.tiritas{
        margin-bottom: 10px;
        font-weight:bold;
}
.formuwu{
    color: #c4c3ca;
    background-color: #1f2029;
    padding: 10px; 
    margin: 0 auto; 
    max-width: 800px;
}
.textareaowo{
    width: 30%;
    font-size: 16px;
    border: 1px solid #ccc;
    resize: none; 
}