.fondouwu{
    font-family: 'Poppins', sans-serif;
    font-weight: 200; /* Fuente ligera */
    background-color: #13141D;
    color: azure;
    background-size: cover;
    background-attachment: fixed;
    height: 900px;
    margin: 30px;
}
.fondouwu2 {
    font-family: 'Montserrat', sans-serif;
    background: #010922; /* Fondo gris claro */
    color: #ffffff; /* Texto negro */
    background-size: cover;
    background-attachment: fixed;
    height: auto;
    border-radius: 10px; /* Bordes redondeados para el contenedor */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra ligera */
    padding: 20px; /* Espaciado interno */
}
.fuente {
    color: #d6fcff; /* Texto negro */
}

.titulos {
    text-align: center;
    color: rgb(239, 246, 247);
    margin-bottom: 20px; 
}
.divwaos{
    padding: 10px;
    background-color: #2b3444;
}
.botonuwu2{
    background-color: rgb(45, 118, 131);
            border: none;
            color: azure;
            padding: 10px 10px;
            cursor: pointer;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.botonuwu2:hover{
            background-color: rgb(101, 163, 173);
        }
.divwaos2{
    position: relative;
    padding: 10px;
    height: 50%;
    background-color: #2b3444;
}
.botonowo{
    /*float: right;*/
    background-color: #0E0F1B;
    border: none;
    color: azure;
    padding: 10px 20px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.botonowo:hover{
    background-color: #2e4468;
}
.selectorewe{
    border-radius: 5px;
    background-color: #455369; /* Color de fondo */
    color: #bdbdbd;
    width: 15%;
    font-size: 16px;
}
.espacio-derecha {
    margin-right: 20px; /* Puedes ajustar el valor del margen según tus preferencias */
}
.estatus {
    /*margin-right: 20px; /* Puedes ajustar el valor del margen según tus preferencias */
    width: 200px;
    text-align: center;
    background-color: #dfdfdf;
}
.enlace{
    width: 300px;
    text-align: center;
}
.espacio-abajo {
    margin-bottom: 5px; /* Puedes ajustar el valor según la separación que desees */
}
.tiritas{
    margin-bottom: 10px;
    font-weight:bold;
}
.formuwu{
    color: #c4c3ca;
    background-color: #1f2029;
    padding: 10px; 
    margin: 0 auto; 
    max-width: 800px;
}
.textareaowo{
    width: 30%;
    font-size: 16px;
    border: 1px solid #ccc;
    resize: none;
}

.textareaowo2{
    width: 75%;
    font-size: 16px;
    border: 1px solid #ccc;
    resize: none;
    height: 50px;
    text-align: center;
    background-color: #dfdfdf;
}
.boton-flotante {
    position: fixed; /* Fija el elemento en la ventana del navegador */
    bottom: 20px; /* Distancia desde la parte inferior de la ventana */
    right: 20px; /* Distancia desde la derecha de la ventana */
    z-index: 1000; /* Controla la superposición del elemento */
}
.botonregresar {
        font-family: Verdana,Geneva,Tahoma,sans-serif;
        color: #c4c3ca;
        cursor: pointer;
        background-color: #13141D;
        border: none;
        padding: 10px 20px; /* Ajusta el padding según tu preferencia */
    }
.botonregresar:hover{
        background-color: #4CA289 ;
    }
.divpro{
    /*height: 100vh; /* Establece la altura al 100% del viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
}
.t-centrado{
    text-align: center;
}
.boton-flotantepro {
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color de texto del botón */
    border: none;
    border-radius: 50%; /* Hace que el botón sea redondo */
    width: 50px; /* Ancho del botón */
    height: 50px; /* Alto del botón */
    position: fixed;
    bottom: 20px; /* Distancia desde la parte inferior */
    left: 20px; /* Distancia desde la izquierda */
    cursor: pointer;
  }
  .ventana-emergente {
    display: none; /* Inicialmente oculta la ventana emergente */
    position: fixed;
    bottom: 80px; /* Distancia desde la parte inferior */
    left: 20px; /* Distancia desde la izquierda */
    width: 390px;
    background-color: #13141D;
    padding: 10px;
    border: 1px solid #ccc;
  }

  /*estilos copiados del datec que no cambia nada pero bueno ou yeah*/
  footer {
    background: #1b2a4e;
    min-height: 80%;
}
footer p {
    color: #f3f3f3;
}
.carousel-inner {
    max-height: 30rem;
}

/*Media query*/
@media (max-width:768px){
    #intro, #equipo{
        width: 90% !important;
    }
    .fila{
        width: 100% !important;
        text-align: center;
    }
}
@media (max-width:576px){
    .wrap{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
}
#img-equipo{
    max-height: 30rem !important;
    width: 60%;
}